.body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    }
.wrapper {
    /* width: 600px; */
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 20px;
    }
.header{
    background-color: #ebebeb;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    font-size: 18px;
    padding: 40px;
    }
.nav{
    background-color: #ebebeb;
    text-align: center;
    left: 50%;
    margin-right: -50%;
}
ul {
    text-align: center;
    list-style-position: inside;
    font-size: 18px;
}
.section{
    background-color: #ebebeb;
    text-align: center;
    width: 895px;
    float: left;
    /* text-align: center; */
    /* left: 50%;
    margin-right: -50%; */
 }
aside {
    background-color: #ebebeb;
    text-align: center;
    float: left;
    width: 30%;
}
.article {
    color: #ebebeb;
    background-color: #777;
    width: 80%;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto 0;
    /* padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px; */
}
.smallheader {
    background-color: #ebebeb;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 10px;
    width: 80%;
    margin: 0 auto 0;
}
.artyheader {
    padding: 10px;
    text-align: center;
    width:90%;
    margin: 0 auto 0;

}
footer {
    background-color: #ebebeb;
    text-align: center;
    clear: both;
}
.paragraph {
    background-color: #ebebeb;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 10px;
    width: 80%;
    margin: 0 auto 0;
}



/* h1{
background-color: #333333;
color: #eee;
font-size: 28px;
margin:auto;
}
#container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin:auto;
}
#main-bio{
    width: 70%
    float: left;
}
#contact-info{
    float: left;
    width: 30%;
    line-height: 1.5;
}
#bio-image{
    float: left;
    border-width: 25px;
    width: 200px;
    margin-right: 25px;
}

 }    */